// this is the place for your components / CSS

/* your styles go here */


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.p-4 {
    padding: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.pr-5,
.px-5 {
    padding-right: 3rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
    padding-left: 3rem !important;
}

.p-6 {
    padding: 6rem !important;
}

.pt-6,
.py-6 {
    padding-top: 6rem !important;
}

.pr-6,
.px-6 {
    padding-right: 6rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 6rem !important;
}

.pl-6,
.px-6 {
    padding-left: 6rem !important;
}

.p-7 {
    padding: 8rem !important;
}

.pt-7,
.py-7 {
    padding-top: 8rem !important;
}

.pr-7,
.px-7 {
    padding-right: 8rem !important;
}

.pb-7,
.py-7 {
    padding-bottom: 8rem !important;
}

.pl-7,
.px-7 {
    padding-left: 8rem !important;
}


.w-2rem {
    width: 2rem !important;
}


.text-secondary {
    color: #e83e8c !important;
}

.ad-text-small{
    font-size: 0.675rem;
}

.ad-card-img-div-top
{
    height: 150px;
}




/**** le rose *****/

.btn-primary {
    color: #fff;
    background-color: #eb0c8a;
    border-color: #eb0c8a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff399b;
    border-color: #ff399b;
}


.text-primary {
    color: #e83e8c !important;
}

.text-secondary {
    color: #e83e8c !important;
}

.btn-link {
    font-weight: 400;
    color: #e83e8c;
    text-decoration: none;
}

.ad-card-img-div-top {
    height: 250px;
}

h1, h2, h3, h4,h5, h6 {
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
