
<template>
    <div class="input-group">

        <input  type="hidden" name="user" class="form-control input-sm"  v-model="userfrom2">
        <input id="btn-input" type="text" name="message" class="form-control rounded-0 border-0 py-4 bg-light" placeholder="Votre message..." v-model="newMessage" @keyup.enter="sendMessage">

        <span class="input-group-append">
            <button class="btn btn-primary" id="btn-chat" @click="sendMessage">
                <i class="fa fa-paper-plane"></i>
            </button>
        </span>
    </div>
</template>

<script>
    export default {
        props: ['messages', 'userfrom2', 'userto2'],
        mounted () {
            // Do something useful with the data in the template
            console.dir(this.userfrom2);
            console.dir(this.userto2);
        },

        data() {
            return {
                newMessage: '',
            }
        },

        methods: {
            sendMessage() {

                this.$emit('messagesent', {
                    to_user: this.userto2,    //admin cedric
                    message: this.newMessage
                });

                this.newMessage = ''
            }
        }
    }
</script>
