<template>


    <div class="px-4 py-5 chat-box bg-white">

        <div class="left clearfix" v-for="message in messages">
            <div v-if="message.from_user == userfrom">
                <!-- Sender Message-->
                <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                        <div class="bg-primary rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-white">{{ message.message }}</p>
                        </div>
                        <p class="small text-muted">
                            {{ message.created_at }}
                        </p>
                    </div>
                </div>
            </div>
            <div v-else>
                <!-- Reciever Message-->
                <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-muted">{{ message.message }}</p>
                        </div>
                        <p class="small text-muted">
                            {{ message.name }}{{ message.from_user }}
                            {{ message.created_at }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['messages', 'userfrom', 'userto'],
        data() {
            return {
                messages : [],
                userfrom : ''
            }
        },
        mounted () {
            // Do something useful with the data in the template
            console.dir(this.userfrom);
            console.dir(this.userto);
        }
    };
</script>
